<html>
	<body>
		<form action = "http://localhost:5000/add-customer" method = "POST">
			<p>GST IN No.<input type = "text" name = "gstin_no"></p>
			<p>Name <input type = "text" name = "name"></p>
			<p>Address<textarea name = "address"></textarea></p>
			<p>Place of Supply <input type = "text" name = "place_of_supply"></p>
			<p>State Code <input type = "text" name = "state_code"></p>
			<p>Contact Number <input type = "text" name = "contact_no"></p>
			<p>Contact Email <input type = "text" name = "contact_email"></p>
			<input type = "submit" value = "submit">
		</form>
	</body>
</html>
